Since train dataset is too big for google colab where all the tests will be produced this script should get around 12.5 k images for each ship and no-ship class. Size after getting should be 27 /  190 * 25  ~=  4 gb

In [39]:
import pandas # import pandas for reading dataset csv file
import shutil # for copying data
import os

In [40]:
# input paths
image_folder = 'airbus-ship-detection/train_v2/'
csv_file_path = 'airbus-ship-detection/train_ship_segmentations_v2.csv'

In [41]:
train_ship_segmantation = pandas.read_csv(csv_file_path)

In [47]:
train_ship_segmantation

              ImageId                                      EncodedPixels
0       00003e153.jpg                                                NaN
1       0001124c7.jpg                                                NaN
2       000155de5.jpg  264661 17 265429 33 266197 33 266965 33 267733...
3       000194a2d.jpg  360486 1 361252 4 362019 5 362785 8 363552 10 ...
4       000194a2d.jpg  51834 9 52602 9 53370 9 54138 9 54906 9 55674 ...
...               ...                                                ...
231718  fffedbb6b.jpg                                                NaN
231719  ffff2aa57.jpg                                                NaN
231720  ffff6e525.jpg                                                NaN
231721  ffffc50b4.jpg                                                NaN
231722  ffffe97f3.jpg                                                NaN

[231723 rows x 2 columns]

In [50]:
train_ship_segmantation = train_ship_segmantation.drop_duplicates('ImageId')

In [52]:
# output paths
output_image_folder = 'train_images/'
output_csv_file_path = 'train_file.csv'

In [53]:
# CREATE DIR IF DOESNT EXISTS
if not os.path.isdir(output_image_folder):
    os.mkdir(output_image_folder)

In [54]:
ship_df = train_ship_segmantation[train_ship_segmantation['EncodedPixels'].notnull()][:12500]
no_ship_df = train_ship_segmantation[train_ship_segmantation['EncodedPixels'].isnull()][:12500]

combined = pandas.concat([ship_df, no_ship_df])

In [55]:
combined

             ImageId                                      EncodedPixels
2      000155de5.jpg  264661 17 265429 33 266197 33 266965 33 267733...
3      000194a2d.jpg  360486 1 361252 4 362019 5 362785 8 363552 10 ...
9      00021ddc3.jpg  108287 1 109054 3 109821 4 110588 5 111356 5 1...
18     0002756f7.jpg  255784 2 256552 4 257319 7 258087 9 258854 12 ...
22     00031f145.jpg  340363 1 341129 4 341896 6 342663 7 343429 10 ...
...              ...                                                ...
19267  155009de8.jpg                                                NaN
19275  155274349.jpg                                                NaN
19276  155280ceb.jpg                                                NaN
19278  1552d9845.jpg                                                NaN
19279  1552ede9f.jpg                                                NaN

[25000 rows x 2 columns]

In [56]:
len(pandas.unique(combined['ImageId']))

25000

In [57]:
for _, row in combined.iterrows():
    shutil.copy2(image_folder + row['ImageId'], output_image_folder + row['ImageId'])

In [58]:
# number of files
len([name for name in os.listdir(output_image_folder)])

25000

In [59]:
train_ship_segmantation = pandas.read_csv(csv_file_path)

In [74]:
# now creating dataset
combined_copy = combined.copy(True)

for _, row in combined.iterrows():
    if row['EncodedPixels'] is not None:
        combined_copy = pandas.concat([combined_copy, train_ship_segmantation[train_ship_segmantation['ImageId'] == row['ImageId']]])
combined_copy = combined_copy.drop_duplicates()

             ImageId                                      EncodedPixels
2      000155de5.jpg  264661 17 265429 33 266197 33 266965 33 267733...
3      000194a2d.jpg  360486 1 361252 4 362019 5 362785 8 363552 10 ...
9      00021ddc3.jpg  108287 1 109054 3 109821 4 110588 5 111356 5 1...
18     0002756f7.jpg  255784 2 256552 4 257319 7 258087 9 258854 12 ...
22     00031f145.jpg  340363 1 341129 4 341896 6 342663 7 343429 10 ...
...              ...                                                ...
68012  4b53ed7ff.jpg  98845 1 99612 3 100378 6 101145 7 101912 9 102...
68020  4b56ae3c1.jpg  523827 5 524595 13 525363 21 526131 29 526899 ...
68050  4b600dac1.jpg  155407 9 156175 17 156943 17 157711 17 158479 ...
68056  4b622a74c.jpg  452658 2 453426 4 454193 7 454961 8 455728 9 4...
68079  4b68667c8.jpg  165105 5 165864 14 166623 23 167381 33 168140 ...

[36495 rows x 2 columns]

In [77]:
combined_copy

             ImageId                                      EncodedPixels
2      000155de5.jpg  264661 17 265429 33 266197 33 266965 33 267733...
3      000194a2d.jpg  360486 1 361252 4 362019 5 362785 8 363552 10 ...
9      00021ddc3.jpg  108287 1 109054 3 109821 4 110588 5 111356 5 1...
18     0002756f7.jpg  255784 2 256552 4 257319 7 258087 9 258854 12 ...
22     00031f145.jpg  340363 1 341129 4 341896 6 342663 7 343429 10 ...
...              ...                                                ...
68012  4b53ed7ff.jpg  98845 1 99612 3 100378 6 101145 7 101912 9 102...
68020  4b56ae3c1.jpg  523827 5 524595 13 525363 21 526131 29 526899 ...
68050  4b600dac1.jpg  155407 9 156175 17 156943 17 157711 17 158479 ...
68056  4b622a74c.jpg  452658 2 453426 4 454193 7 454961 8 455728 9 4...
68079  4b68667c8.jpg  165105 5 165864 14 166623 23 167381 33 168140 ...

[36495 rows x 2 columns]

In [78]:
combined_copy.to_csv(output_csv_file_path)